@charset "utf-8";
/* CSS Document */

/* 
- Name: mega.js - style.css
- Version: 1.0
- Latest update: 22.03.2017.
- Author: Mahedi Nishad
-email:devmdnishad@gmail.com
*/


/* ��������������������������������������������������
Body - not related to megamenu
body {
    font-family: 'Source Sans Pro', sans-serif;
}
�������������������������������������������������� */

* {
    box-sizing: border-box;
}

a {
    color: #333;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* ��������������������������������������������������
megamenu.js STYLE STARTS HERE
�������������������������������������������������� */


/* ��������������������������������������������������
Screen style's
�������������������������������������������������� */

.menu-container {
    width: 100%;
	height:100%;
    margin: 0 auto;
	border-top:double #0980a1;
	color:#FFF;
	clear:both !important;

/* CODE BELOW IS FOR TESTING PURPOSES ONLY. CAN BE DELETED. */
/*	z-index:100 !important;*/
/*	border:1px solid red;*/
/*	clear:both !important;*/
/*	background-image:url(/sites/default/files/images/subMenuBG-05617A-50opacity.png);*/
/*	top:-100px;*/
/*	background-color:#02FB17;*/
/*	background-color:blue;*/
/*	border-bottom:1px solid lime;*/
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu .region nav > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
/*    box-sizing: border-box;*/

/* CODE BELOW IS FOR TESTING PURPOSES ONLY. CAN BE DELETED. */
	clear:both !important;
/*	background-image:url(/sites/default/files/images/subMenuBG-05617A-50opacity.png);*/

	color:white;
	font-size:1.10em; /* Changed from 1.25em to 1.10em so NE menu fits */
/*	top:-110px;*/
/*	display:block !important;*/
/*	border:2px dotted orange;*/
}
a.menu-mobile, a.menu-mobile:visited, a.menu-mobile:focus, a.menu-mobile:hover{
color:#fff; 
}
.menu .region nav > ul:before,
.menu .region nav > ul:after {
    content: "";
    display: table;
}

.menu .region nav > ul:after {
    clear: both;
}

.menu .region nav > ul > li {
    float: left;
/*    background: #e9e9e9;*/
/*	background-image:url(/sites/default/files/images/subMenuBG-05617A-50opacity.png);*/
    padding: 0;
    margin: 0;
}

.menu .region nav > ul > li a {
    text-decoration: none;
    padding: 1em 1em; /* Changed padding from 1em 1em to .5em .5em */
    display: block;
	color:#FFF;
/*
	top:-180px;
	position:relative;
	background-image:url(http://dev-iea.nmfs.noaa.gov/sites/default/files/images/subMenuBG-05617A-50opacity.pngz);
*/
}

.menu .region nav > ul > li:hover {
/*	background-color:#05617A;
    background: #05617A !important;
	background-image:url(http://dev-iea.nmfs.noaa.gov/sites/default/files/images/subMenuBG-05617A-50opacity.png);*/
}

/*
.menu .active .is-active {
	background:yellow !important;
	border:1px solid black !important;
}
*/

.menu .region nav > ul > li > ul {
    display: none;
    width: 100%;
	background-color:#05617A;
/*    background: #f0f0f0;
	background-image:url(http://dev-iea.nmfs.noaa.gov/sites/default/files/images/subMenuBG-05617A-50opacity.png);*/
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu .region nav > ul > li > ul:before,
.menu .region nav > ul > li > ul:after {
    content: "";
    display: table;
}

.menu .region nav > ul > li > ul:after {
    clear: both;
}

.menu .region nav > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 20%; /* Changed from 25% to 20% to accommodate additional columns - Alex 28-Mar-18 */
    background: none;
    float: left;
}

.menu .region nav > ul > li > ul > li a {
    color: #FFF;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu .region nav > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu .region nav > ul > li > ul > li > ul:before,
.menu .region nav > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu .region nav > ul > li > ul > li > ul:after {
    clear: both;
}

.menu .region nav > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu .region nav > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu .region nav > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu .region nav > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu .region nav > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


/* ��������������������������������������������������
Mobile style's
�������������������������������������������������� */

@media only screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu .region nav > ul {
        display: none;
    }
    .menu .region nav > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu .region nav > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu .region nav > ul > li > ul {
        position: relative;
    }
    .menu .region nav > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu .region nav > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu .region nav > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu .region nav > ul > li > ul > li > ul {
        position: relative;
    }
    .menu .region nav > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .region nav .show-on-mobile {
        display: block !important;
    }
}




















/* **********************************************
 * STYLES FOR MAIN MENU ADDED BY AVI 11-3-2017  *
 * **********************************************/

.main-menu-container {
    width: 100%;
    margin: 0 auto;
    background: #FFF;

/* CODE BELOW FOR TESTING ONLY */

/* CODE ABOVE FOR TESTING ONLY */
}

.main-menu-mobile {
    display: none;
    padding: 20px;
}

.main-menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.main-menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.main-menu .region nav > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .main-menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;

}

.main-menu .region nav > ul:before,
.main-menu .region nav > ul:after {
    content: "";
    display: table;
}

.main-menu .region nav > ul:after {
    clear: both;
}

.main-menu .region nav > ul > li {
    float: left;
    background: #FFF;
    padding: 0;
    margin: 0;
    margin-top:45px;
}

.main-menu .region nav > ul > li a {
    text-decoration: none;
    padding: .75em .55em;
    display: block;
    font-size:1.25em;
}

.main-menu .region nav > ul > li a.is-active {
    background: #90d8f0 !important;
}

/*
.main-menu .region nav > ul > li a:hover {
    background: #90d8f0;
}
*/

/* BEGIN TESTING MENU LINKS */
.main-menu .region nav > ul > li a:link {
    background: #FFF;
}

.main-menu .region nav > ul > li a:visited {
    background: #FFF;
	border:1px solid red;
}

.main-menu .region nav > ul > li a:hover {
    background: #90d8f0;
	
}
/*
.main-menu .region nav > ul > li a:active {
	background-color:#90d8f0 !important;
	border:1px solid #02FB7B !important;
}
*/

/*
.main-menu .active .is-active {
	background:#90D8F0 !important;
}
*/
/* END TESTING MENU LINKS */

.main-menu .region nav > ul > li > ul {
    display: none;
    width: 100%;
    background: #90d8f0;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.main-menu .region nav > ul > li > ul:before,
.main-menu .region nav > ul > li > ul:after {
    content: "";
    display: table;
}

.main-menu .region nav > ul > li > ul:after {
    clear: both;
}

.main-menu .region nav > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.main-menu .region nav > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.main-menu .region nav > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.main-menu .region nav > ul > li > ul > li > ul:before,
.main-menu .region nav > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.main-menu .region nav > ul > li > ul > li > ul:after {
    clear: both;
}

.main-menu .region nav > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.main-menu .region nav > ul > li > ul > li > ul > li a {
    border: 0;
}

.main-menu .region nav > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.main-menu .region nav > ul > li > ul.normal-sub > li {
    width: 100%;
}

.main-menu .region nav > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


/* ��������������������������������������������������
Mobile style's
�������������������������������������������������� */

@media only screen and (max-width: 959px) {
    .main-menu-container {
        width: 100%;
    }
    .main-menu-mobile {
        display: block;
    }
    .main-menu-dropdown-icon:before {
        display: block;
    }
    .main-menu .region nav > ul {
        display: none;
    }
    .main-menu .region nav > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .main-menu .region nav > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .main-menu .region nav > ul > li > ul {
        position: relative;
    }
    .main-menu .region nav > ul > li > ul.normal-sub {
        width: 100%;
    }
    .main-menu .region nav > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .main-menu .region nav > ul > li > ul > li:first-child {
        margin: 0;
    }
    .main-menu .region nav > ul > li > ul > li > ul {
        position: relative;
    }
    .main-menu .region nav > ul > li > ul > li > ul > li {
        float: none;
    }
    .main-menu .region nav .show-on-mobile2 {
        display: block;
    }
}



/*********************
* ADDED ON 25-JUL-18 TO TEST MAIN MENU LINK HIGHLIGHT
**********************/
/*
#alaska-link {
	background-color: #90d8f0;
}

.main-menu .region nav > ul > li a.active {
    background: #90d8f0 !important;
}

