/**
 * Place your custom styles here.
 */

img { /***** MODIFIED IMG TO MAKE ALL IMAGES RESPONSIVE *****/
	max-width: 100%;
	height: auto;
	display:block;
}
figure { 
display: table !important; 

} 
figcaption { 
display: table-caption !important; 
caption-side: bottom !important;  

 
}

.imgShadow {
	box-shadow:0px 0px 10px #323232;
	margin-bottom:15px;
}

.imgBlueBorder {
	border: 1px solid #0980a1;
	padding: 5px;
}

.imgBlueBorderDouble {
	border: double #0980A1;
	padding: 5px;
}

.roundedCornersBlue2px {
    border-radius: 25px;
    border: 2px solid #0980A1;
    padding: 10px;   
}

.verticalAlignMiddle { /**** THIS WILL VERTICAL ALIGN TEXT AND IMAGES - /regions/hawaii/hi-esr*****/
	display:flex;
    align-items:center;
}

a.white {
	color:#FFF;
}

.activeLink {
	background-color:#90d8f0;
	padding:8px;
}

.logo { /***** SIZE AND POSITION OF LOGO *****/
	width:200px;
}

.name { /***** DISPLAY SITE NAME NEXT TO LOGO *****/
	display:none;
}

.indent-20px {
	padding-left: 20px;
}

#block-alaskanavigation {
	position:relative;
	margin-top:-123px;
	background-image:url(../../../sites/default/files/images/subMenuBG-05617A-50opacity.png);
}

#block-alaskanavigation-menu {
	padding:0px 40px;
}

#block-californiacurrentnavigation-2 {
	position:relative;
	margin-top:-123px;
	background-image:url(../../../sites/default/files/images/subMenuBG-05617A-50opacity.png);
}

#block-californiacurrentnavigation-2-menu {
	padding:0px 40px;
}

#block-gulfofmexiconavigation {
	position:relative;
	margin-top:-123px;
	background-image:url(../../../sites/default/files/images/subMenuBG-05617A-50opacity.png);
}

#block-gulfofmexiconavigation-menu {
	padding:0px 40px;
}

#block-hawaiinavigation-2 {
	position:relative;
	margin-top:-123px;
	background-image:url(../../../sites/default/files/images/subMenuBG-05617A-50opacity.png);
}

#block-hawaiinavigation-2-menu {
	padding:0px 40px;
}

#block-northeastnavigation {
	position:relative;
	margin-top:-123px;
	background-image:url(../../../sites/default/files/images/subMenuBG-05617A-50opacity.png);
}

#block-northeastnavigation-menu {
	padding:0px 40px;
}

#block-ieasteps {
	position:relative;
	margin-top:-38px;
	background-image:url(../../../sites/default/files/images/subMenuBG-05617A-50opacity.png);
}

#block-iea-steps-menu {
	padding:0px 40px;
}

#block-ieamanagementpartners {
	position:relative;
	margin-top:-38px;
	background-image:url(../../../sites/default/files/images/subMenuBG-05617A-50opacity.png);

}

#block-iea-management-partners-menu {
	padding:0px 40px;
}

/***************************************************
 * END CODE TO PLACE TEXT/REGION MENU OVER IMAGE
 **************************************************/


@media only screen and (max-width: 959px) {
    .regionName {
        display:none;
    
    }
}


/***************************************************
 * HIGHLIGHT ACTIVE LINK ON MAIN MENU
 **************************************************/
/*
.active{
  background-color:#90D8F0;
  color:#fff;

}

.is-active {
	background:#90D8F0 !important;
}

a {
    color:#000;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a:visited {
    color:#000;
}

.menu nav {
    padding:10px;
    border:solid 1px #c0c0c0;
    border-radius:5px;
    float:left;
}
.menu nav li {
    list-style-type:none;
    float:left;
    margin:0 10px;
}
.menu nav li a {
    text-align:center;
    width:55px;
    float:left;
}
.menu nav li.active {
    background-color:green;
}
.menu nav li.active a {
    color:#fff;
    font-weight:bold;
}
*/


/********************************************************
 * REDUCE SPACE BETWEEN REGIONAL NAVIGATION AND CONTENT
 ********************************************************/
.region .region-region-bar {
	border:1px solid red;
	background-color:lime;
}

/********************************************************
 * MAKE ALL VIDEOS RESPONSIVE
 ********************************************************/
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


/********************************************************
 * CODE BELOW USED ON NORTHEAST SUB-REGIONS PAGE
 ********************************************************/
.greenBG {
	background-color: #bfd38b;
	border-radius: 5px;
	padding: 10px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	opacity: 0.7;
}
		
.orangeBG {
	background-color: #fbb344;
	border-radius: 5px;
	padding: 10px;
	text-transform: uppercase;
	color: #daf2fe;
	font-weight: bold;
	opacity: 0.7;
}
		
.redBG {
	background-color: #e61616;
	border-radius: 5px;
	padding: 10px;
	text-transform: uppercase;
	color: #daf2fe;
	font-weight: bold;
	opacity: 0.7;
}

.blueBG {
	background-color: #0055a0;
	border-radius: 5px;
	padding: 10px;
	text-transform: uppercase;
	color: #daf2fe;
	font-weight: bold;
	opacity: 0.7;
}

/*
span:hover {
	color: white;
	text-decoration: underline;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	opacity: 1;
}
/*

/********************************************************
 * CODE BELOW USED ON PROJECTS AND PUBLICATIONS PAGES
 ********************************************************/
.blueRoundedBorder {
	border-radius: 5px;
	border: 1px solid #0980a1;
	padding: 10px;
}

.greyButton {
	background-color: #5c697b;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
}


/********************************************************
 * CODE BELOW USED FOR SEARCH FIELD
 ********************************************************/
.input-group input[type=search] {
	width: 150px;
	float: right;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.input-group input[type=search]:focus {
	width: 100%;
}

.dimmed {
	filter: blur(3px);
	opacity: .2;
	transition: all .3s;
}

.sbox {
	transform: translate(0, -5em);
	-webkit-transition: transform 1s ease-in-out;
	-moz-transition: transform 1s ease-in-out;
	-o-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
}


/********************************************************
 * BEGIN HOVER IMAGES - /regions/alaska/ebs-ecosystem-status-report
 ********************************************************/
.hoverImage img:last-child{
	display:none;
}
.hoverImage:hover img:first-child{
	display:none;
}
.hoverImage:hover img:last-child{
	display:inline-block;
}
/********************************************************
 * END HOVER IMAGES - /regions/alaska/ebs-ecosystem-status-report
 ********************************************************/


/********************************************************
 * BEGIN WEBFORM ON FOOTER
 ********************************************************/
#block-webform-2 {  /***** THIS IS FOR THE ACTUAL FORM *****/
        padding: 0px 30px;
}

.panel-body {  /***** THIS IS FOR REGION SECTION WITHIN THE FORM *****/
	color: #000;
}

.footer {  /***** THIS IS FOR DISCLAIMERS & LINKS *****/
        background-color: #323232;
	color: #FFF;
        padding-bottom: 30px;
}
/********************************************************
 * END WEBFORM ON FOOTER
 ********************************************************/

ul.logo-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
orphans: 2;  
}
.glyphicon-search:before {
content: "" !important;
}



.dialog-off-canvas-main-canvas {
  max-width: 1600px;
  margin: auto;
}